In [1]:
import pandas as pd
import numpy as np

In [2]:
promo = pd.read_csv("../input/promoted_content.csv", index_col=False)

In [16]:
print "in promoted_content.csv"
print "number of unique document_id is", len(promo['document_id'].unique())
print "number of unique campaign_id is", len(promo['campaign_id'].unique())
print "number of unique ad_id is", len(promo['ad_id'].unique())
print "number of unique advertiser_id is", len(promo['advertiser_id'].unique())

in promoted_content.csv
number of unique document_id is 185709
number of unique campaign_id is 34675
number of unique ad_id is 559583
number of unique advertiser_id is 4385

In [15]:
promo.sort(['document_id']).head(10)

/home/ubuntu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         ad_id  document_id  campaign_id  advertiser_id
369245  371657            1         6050           1531
369336  371749            1         6051           1531
276883  278853         1305         1960             45
467810  470614         1418        16993           1310
497766  500762         1443        16993           1310
511437  514787         1456        16993           1310
466286  469080         2065        16993           1310
169680  170653         2388        11579           2730
169686  170659         2388        11579           2730
169685  170658         2388        11579           2730

In [11]:
docmeta = pd.read_csv("../input/documents_meta.csv", index_col=False)
docmeta.head()

   document_id  source_id  publisher_id         publish_time
0      1595802        1.0         603.0  2016-06-05 00:00:00
1      1524246        1.0         603.0  2016-05-26 11:00:00
2      1617787        1.0         603.0  2016-05-27 00:00:00
3      1615583        1.0         603.0  2016-06-07 00:00:00
4      1615460        1.0         603.0  2016-06-20 00:00:00

In [14]:
print "number of source types is",len(docmeta['source_id'].unique())

number of source types is 14395

In [17]:
clktrain = pd.read_csv("../input/clicks_train.csv", index_col=False)

In [20]:
print "in click_train.csv"
print "number of unqiue display_id is", len(clktrain["display_id"].unique())
print "number of unqiue ad_id is", len(clktrain["ad_id"].unique())

 in click_train.csv
number of unqiue display_id is 16874593
number of unqiue ad_id is 478950

In [30]:
print "in click_train.csv"
print "ratio between ad_id and display id is", 478950/16874593.0

ratio between ad_id and display id is 0.0283829067759

In [27]:
print "click rate is ", 1.0 * clktrain["clicked"].sum()/clktrain.shape[0]

click rate is  0.193645372961

In [28]:
clktest = pd.read_csv("../input/clicks_test.csv", index_col=False)

In [29]:
clktest.head()

   display_id   ad_id
0    16874594   66758
1    16874594  150083
2    16874594  162754
3    16874594  170392
4    16874594  172888

In [32]:
print "in click_test.csv"
print "number of unqiue display_id is", len(clktest["display_id"].unique())
print "number of unqiue ad_id is", len(clktest["ad_id"].unique())

 in click_test.csv
number of unqiue display_id is 6245533
number of unqiue ad_id is 381385

In [33]:
print "in click_test.csv"
print "ratio between ad_id and display id is", 381385/6245533.0

in click_test.csv
ratio between ad_id and display id is 0.0610652445516

In [34]:
events = pd.read_csv("../input/events.csv", index_col=False)

/home/ubuntu/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
events.head()

   display_id            uuid  document_id  timestamp platform geo_location
0           1  cb8c55702adb93       379743         61        3    US>SC>519
1           2  79a85fa78311b9      1794259         81        2    US>CA>807
2           3  822932ce3d8757      1179111        182        2    US>MI>505
3           4  85281d0a49f7ac      1777797        234        2    US>WV>564
4           5  8d0daef4bf5b56       252458        338        2        SG>00

In [38]:
print "in events.csv"
print "total number events =", events.shape[0]
print "number of total unique display_id is", len(events["display_id"].unique())
print "number of total unique uuid is", len(events["uuid"].unique())
print "number of total unique document_id is", len(events["document_id"].unique())
print ""
print "number of total unique timestamp is", len(events["timestamp"].unique())
print "number of total unique platform is", len(events["platform"].unique())
print "number of total unique geo_location is", len(events["geo_location"].unique())

in events.csv
total number events = 23120126
number of total unique display_id is 23120126
number of total unique uuid is 19794967
number of total unique document_id is 894060

number of total unique timestamp is 22896622
number of total unique platform is 7
number of total unique geo_location is 2989

In [45]:
print "in document_meta.csv"
print "number of unique document_id", len(meta["document_id"].unique())
print "number of unique source_id", len(meta["source_id"].unique())
print "number of unique publisher_id", len(meta["publisher_id"].unique())

in document_meta.csv
number of unique document_id 2999334
number of unique source_id 14395
number of unique publisher_id 1260

In [50]:
topics = pd.read_csv("../input/documents_topics.csv", index_col=False)
topics.head()

   document_id  topic_id  confidence_level
0      1595802       140          0.073113
1      1595802        16          0.059416
2      1595802       143          0.045421
3      1595802       170          0.038867
4      1524246       113          0.196450

In [59]:
print "total topics log", topics.shape[0]
print "number of unique topic_id", len(topics["topic_id"].unique())
print "number of unique document_id", len(topics["document_id"].unique())

total topics log 11325960
number of unique topic_id 300
number of unique document_id 2495423

In [52]:
entities = pd.read_csv("../input/documents_entities.csv", index_col=False)
entities.head()

   document_id                         entity_id  confidence_level
0      1524246  f9eec25663db4cd83183f5c805186f16          0.672865
1      1524246  55ebcfbdaff1d6f60b3907151f38527a          0.399114
2      1524246  839907a972930b17b125eb0247898412          0.392096
3      1524246  04d8f9a1ad48f126d5806a9236872604          0.213996
4      1617787  612a1d17685a498aff4f036c1ee02c16          0.386193

In [62]:
entities.to_csv("../data/documents_entities.csv.gz", index = False,
                compression="gzip")

In [55]:
categories = pd.read_csv("../input/documents_categories.csv", index_col=False)
categories.head()

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92
3      1524246         1608              0.07
4      1617787         1807              0.92

In [60]:
print "total categories log", categories.shape[0]
print "number of unique category_id", len(categories["category_id"].unique())
print "number of unique document_id", len(categories["document_id"].unique())

total categories log 5481475
number of unique category_id 97
number of unique document_id 2828649

In [63]:
categories.to_csv("../data/documents_categories.csv.gz", index = False,
                  compression="gzip")

In [65]:
df_events = events.sort(["document_id"])

/home/ubuntu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [67]:
df_events.shape[0]

23120126

In [71]:
map(list(np.linspace(1, 23120126, 20))

[1.0,
 1216849.6842105263,
 2433698.3684210526,
 3650547.0526315789,
 4867395.7368421052,
 6084244.421052631,
 7301093.1052631577,
 8517941.7894736845,
 9734790.4736842103,
 10951639.157894736,
 12168487.842105262,
 13385336.52631579,
 14602185.210526315,
 15819033.894736841,
 17035882.578947369,
 18252731.263157893,
 19469579.947368421,
 20686428.631578948,
 21903277.315789472,
 23120126.0]